<div class="field">
    <table>
            <tr ng-repeat="row in $ctrl.field">
                <td ng-repeat="col in row track by col.id" class="cell" ng-class="{ cell{{col.number}}:col.number }">{{col.number}}</td>
            </tr>
    </table>
    <div class="score">
        <span>score:</span><br>
        <span class="score-points">{{$ctrl.score}}</span>
    </div>
    <div class="best">
        <span>best:</span><br>
        <span class="best-points">{{$ctrl.best}}</span>
    </div>

    <a href="" class="new-game-anchor"><div class="new-game" ng-click="$ctrl.newGame()">New game</div></a>

    <div class="game-over" ng-show="$ctrl.gameOver">Game Over! You lose! Try again</div>

    <div class="game-won" ng-show="$ctrl.gameWon">You won, thank you for playing!</div>
</div>